<h1>{{teamname}}</h1>

<div *ngIf="players.length > 0">
    <h2>Players</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
            <th></th>
        </tr>
        <tr *ngFor="let p of players;let idx = index">
            <td>
                {{p.name}}
            </td>
            <td>
                {{p.age}}
            </td>
            <td>
                {{p.position}} 
            </td>
            <td>
                <button [attr.title]="'Delete ' + p.name "
                 (click)="deletePlayer(idx)">Delete</button>
            </td>
        </tr>
    </table>
</div>

<h3>Add Player</h3>
Name : <input type="text" #pname /> Age <input type="number" #page />
Position : <select #position>
    <option>Select Position</option>
    <option>GoalKeeper</option>
    <option>Defender</option>
    <option>Forward</option>
    <option>Midfield</option>
</select>
<br />
<button (click)="addPlayer(pname.value,page.value, position.value)">Add</button>
<p></p>
<h4>{{message}}</h4>